{% extends "base.html" %}

{% block title %}Learn{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block mode %}<button type="button" aria-pressed="true" class="btn btn-secondary font-weight-bold">LEARNING MODE</button>{% endblock %}


{% block content %}

<div class="container">
    <div class="row text-light display-4">
        <div class="col-md">
            <p style="margin-left:45%"><span id="labelx"></span></p>
            <form action="/" method="get">
                <div class="form-group">
                    <input type="range" class="form-control-range" style="width:250px;" min=0 max=12
                        id="formControlRange1">
                </div>
            </form>
        </div>
        <div class="col-md">
            <p class="font-italic font-weight-bold" style="margin-left:45%">X</p>
        </div>
        <div class="col-md">
            <p style="margin-left:45%"><span id="labely"></span></p>
            <form action="/" method="get">
                <div class="form-group">
                    <input type="range" class="form-control-range" style="width:250px;" min=0 max=12
                        id="formControlRange2">
                </div>
            </form>
        </div>
        <div class="col-md" style="margin-left:5%">
            <p class="font-italic font-weight-bold">=</p>
        </div>
        <div class="col-md" style="margin-left:5%">
            <p class="font-italic font-weight-bold"><span id="result"></span></p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card mx-auto" style="width:27rem;">
        <div class="card-body">
          <h5 class="card-title">How does it work?</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary float-right">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mx-auto" style="width:27rem;">
        <div class="card-body">
          <h5 class="card-title">Why learn the times tables?</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary float-right">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="card mx-auto" style="width:55rem;">
      <div class="card-body">
        <h5 class="card-title">Are there any tricks to this?</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary float-right">Go somewhere</a>
      </div>
    </div>

<script>
    // JS code for sliders

    var sliderx = document.getElementById("formControlRange1");
    var outputx = document.getElementById("labelx");
    multiplication();
    outputx.innerHTML = sliderx.value;

    // Update slider1 value
    sliderx.oninput = function () {
        outputx.innerHTML = this.value;
        multiplication();
    }

    var slidery = document.getElementById("formControlRange2");
    var outputy = document.getElementById("labely");
    outputy.innerHTML = slidery.value;
    // Update slider2 value
    slidery.oninput = function () {
        outputy.innerHTML = this.value;
        multiplication();
    }
    // Multiplying the two numbers together
    function multiplication() {
        num1 = document.getElementById("formControlRange1").value;
        num2 = document.getElementById("formControlRange2").value;
        document.getElementById("result").innerHTML = num1 * num2;
    }

</script>


{% endblock %}