{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="card mx-auto" style="width:65rem;">
      <div class="card-body">
        <h5 class="card-title"><b>{{g.user.username}}'s</b> Dashboard</h5>
        <br>
        <p class="card-text">Time spent in learning mode:</p>
        <p class="card-text">Time spent in practice mode:</p>
        <p class="card-text">Best winning streak: <b>{{g.user.score}}</b></p>
        <p class="card-text">Questions wrong:</p>
        <a href="{{url_for('learn')}}" class="btn btn-primary float-right">Go LEARN</a>
        <a href="{{url_for('practice')}}" class="btn btn-primary float-right mr-3">Go PRACTICE</a>
      </div>
    </div>

{% endblock %}

{% block body %}
{% endblock %}